@page
@model ScoreManagementSystem.Pages.ComponentScores.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutDashBoard.cshtml";
}

<h1>Edit</h1>

<h4>ComponentScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComponentScore.Id" />
            <div class="form-group">
                <label asp-for="ComponentScore.Name" class="control-label"></label>
                <input asp-for="ComponentScore.Name" class="form-control" />
                <span asp-validation-for="ComponentScore.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentScore.Percent" class="control-label">Percent (%)</label>
                <input asp-for="ComponentScore.Percent" class="form-control" />
                <span asp-validation-for="ComponentScore.Percent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentScore.Active" class="control-label"></label>
                <select asp-for="ComponentScore.Active" class="form-control">
                    <option value="true">Active</option>
                    <option value="false">InActive</option>
                </select>
                <span asp-validation-for="ComponentScore.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentScore.Description" class="control-label"></label>
                <textarea asp-for="ComponentScore.Description" class="form-control" ></textarea>
                <span asp-validation-for="ComponentScore.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentScore.SubjectId" class="control-label"></label>
                <select asp-for="ComponentScore.SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="ComponentScore.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
