@page
@model ScoreManagementSystem.Pages.OtpModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>Confirm OTP</h1>
            </div>
            <div class="form-content">
                <form method="post">
                    <div class="form-group">
                        <label for="email">OTP</label>
                        <input type="text" id="email" name="otp" required="required" />
                    </div>
                    <div class="form-group">
                        <code>@Model.Message</code>
                        <button type="submit">Send Confirm OTP</button>
                        <a href="/ForgotPassword">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- partial -->
    <script src="~/js/login.js"></script>
</body>

</html>