@page
@model ScoreManagementSystem.Pages.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>Reset Password</h1>
            </div>
            <div class="form-content">
                <form method="post">
                    <div class="form-group">
                        <label for="np">New Password</label>
                        <input type="password" id="np" asp-for="NewPassword" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="cp">New Password</label>
                        <input type="password" id="cp" asp-for="ConfirmPassword" required="required" />
                    </div>
                    <div class="form-group">
                        <code>@Model.Message</code>
                        <button type="submit">Reset Passowrd</button>
                        <a href="/Otp">Back To Send OTP</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- partial -->
    <script src="~/js/login.js"></script>
</body>

</html>